
html,
body {
  background-color: #381919;
  font-family: 'Hind', sans-serif;
  color: black;
}
/*--------MAIN------------*/
.main1 {
  padding: 50px;
}

.main {
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.heading h1 {
  font-size: 65px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
/*--------WEATHER------------*/
.weather {
  margin-top: 30px;
}

.weather p {
  font-size: 30px;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
#icon {
  margin-top: -15px;
}
img {
  width: 75px;
  height: auto;
}
/*--------FOOTER------------*/
.footer p {
  font-size: 15px;
  text-align: center;
  margin: 40px 0px 10px 0px;
}